/* .App {
  text-align: center;
}
 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.header {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* span {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
} */
.rippleAnimation {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* .tile[data-spin='1'] {
  animation: spin 0.5s 1;
}

@keyframes spin {
  100% {
    transform: rotate(90deg);
  }
} */
